<h1><%= @child.name %>'s School Page</h1>

<% if @child.teacher %>
<h2><%= @child.teacher.name %> is <%= @child.name %>'s Teacher </h2>
<% end %>

<% if @child.parent == current_user %>
<%= button_to 'Edit Childs Information', edit_child_path(@child), method: "get" %>
<% end %>
<%= form_tag child_path(@child.id), method: "delete" do %>
    <%= submit_tag "Delete Childs Information" %>
  <% end %>

<%= button_to 'Back to your Account Page', parent_path(@child.parent), method: "get" %>