<h1>Add a Teacher</h1>
<%= form_for [@school, @teacher] do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.label :grade_taught %>
    <%= f.text_field :grade_taught %>
    <%= f.submit %>
    <% end %>
