<h3><%= @teacher.name %> teaches <%= @teacher.grade_taught.ordinalize %> grade.</h3>

<h4>Children in <%="#{@teacher.name}"%>'s Class: </h4>
<ol>
 <% @teacher.children.each do |child| %>
  <li>Name: <%= link_to child.name, child_path(child)  %>, Emergency Contact: <%= link_to child.parent.email, parent_path(child.parent_id) %></li>

 <% end %>
</ol>

