<h1><%= @teacher.name %> teaches <%= @teacher.grade_taught.ordinalize %> grade</h1>
<h1></h1>
<h2>Children in <%="#{@teacher.name}"%>'s Class: </h2>
<ol>
 <% @teacher.children.each do |child| %>
  <li><%= link_to child.name, child_path(child)  %></li>
 <% end %>
</ol>

<%= button_to 'Back to your Page', parent_path(current_user), method: "get" %>