<h1><%= @school.name %></h1>

<ul>
  <% @teachers.each do |teacher| %>
   <li>Name: <%= link_to teacher.name, school_teacher_path(@school, teacher) %>, Grade: <%= teacher.grade_taught %> </li>
  <% end %>
</ul>


<% if current_user.admin %>
  <%= button_to 'Add New Teacher', new_school_teacher_path(@school), method: "get" %>
<% end %>

<%= button_to 'Go Back to your Account Page', parent_path(current_user), method: "get" %>

