<h1><%= @school.name %></h1>

<ul><% @school.teachers.each do |teacher| %>
  <li> <%= link_to teacher.name, school_teacher_path(teacher) %>, <%= teacher.grade_taught %> </li>
</ul>
<% end %>


<% if current_user.admin %>
<%= link_to 'Add New Teacher', new_school_teacher_path(@school) %>
<% end %>
<%= link_to 'Go Back to your Account Page', parent_path(current_user) %>
<!-- <p>*Want to link to parent show page from here*</p> -->
