<h1><%= @school.name %></h1>

<ul>
  <% @school.teachers.order_by_grade.each do |teacher| %>
   <li> <%= link_to teacher.name, school_teacher_path(@school, teacher) %>, <%= teacher.grade_taught %> </li>
  <% end %>
</ul>


<% if current_user.admin %>
  <%= link_to 'Add New Teacher', new_school_teacher_path(@school) %>
<% end %>

<%= link_to 'Go Back to your Account Page', parent_path(current_user) %>
<!-- <p>*Want to link to parent show page from here*</p> -->
