<!DOCTYPE html>
<html>
  <head>
    <title>Schoolapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application'%>
  </head>

  <body>

    <div class="container"> 
    <h1>SCHOOL REGISTRATION</h1>
    </div>

    <nav>
    <div class="nav-wrapper blue darken-1">
    <div class="container"> 
      <ul>
      <% if !logged_in? %>
      <li> <%= link_to 'Login', login_path %></li>
      <li><%= link_to('Login with Facebook', '/auth/facebook') %></li>
      <% elsif current_user %>  
      <li><%= link_to 'Check your School Options', schools_path, id: "all_schools" %></li>
      <li><%= link_to 'Back to Signup', root_path %></li> 
      <li><%= link_to 'Your Home Page', parent_path(current_user) %></li>
      <li><%= link_to 'Log Out', logout_path, method: :delete %></li>
     <% end %>
      </ul>
      </div>
    </div>
  </nav>
  
  <div id="background " class="container"> 
  <div id="schools-container">
     <%= yield %>
   </div>
   </div> 


  </body>
</html>
