<!DOCTYPE html>
<html>
  <head>
    <title>Schoolapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <h1>SCHOOL REGISTRATION</h1>
  <nav>
  <div class="nav-wrapper blue-grey darken-1">
  
  <ul>
  <li><%= link_to 'Check your School Options', schools_path %></li>
  <li><%= link_to 'Home Page', root_path %></li>
  <li><%= link_to 'Signup', signup_path %></li>
 <li> <%= link_to 'Login', login_path %></li>
  <li><%= link_to('Log in with Facebook!', '/auth/facebook') %></li>
  <li><%= link_to 'Log Out', logout_path, method: :delete %></li>
  </div>
</nav>
  
  <div class="container"> 
    <%= yield %>
   </div> 


  </body>
</html>
